<template>
  <v-layout justify-center  row wrap>
    <v-flex xs11>
      <v-card
        class="ma-2"
        v-for="(prioridades, i) in getPrioridades"
        :key="i"
      >
        <v-card-title primary-title>
          <div>
            <v-icon color="yellow">star_rate</v-icon> <h2 class="headline mb-0">Folio: {{prioridades.Numguia}}</h2>
          </div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
         <h3>Remesa: {{ prioridades.Numrem }}</h3>
         <h3>Cliente: {{ prioridades.Idcliente }}</h3>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
  export default {
    data () {
      return {
        
      }
    },

    methods:{
      ...mapActions('prioridades',['traerPrioridadesidb'])
    },

    computed:{
      ...mapGetters('prioridades',['getPrioridades'])
    }
  }
</script>