<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- apki key para google-maps -->
	  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqWhazMohP23r6IpHa5ybtqruNmw5tulE" async defer></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script> -->
    <!-- Firma -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script> -->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>movil3</title>

    <!-- apki key para google-maps -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons"> -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but movil3 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
