<template>
	<v-layout row wrap>
	  <v-flex xs12>
	    <v-card>
	      <v-card-title primary-title>
	        <h3>Información del sistema</h3>
	      </v-card-title>
	      <v-card-text>
	        <table>
	        	<tr>
	        		<th>Versión:</th>
	        		<th>1.8</th>
	        	</tr>
	        </table>
	      </v-card-text>
	    </v-card>
	  </v-flex>
	</v-layout>
</template>