<template>
  <v-layout align-space-around justify-space-around wrap>
    <!-- dialog -->
    <div class="text-xs-center">
      <v-dialog
        v-model="dialog"
        hide-overlay
        persistent
        width="300"
      >
        <v-card
          color="primary"
          dark
        >
          <v-card-text>
            Please stand by
            <v-progress-linear
              indeterminate
              color="white"
              class="mb-0"
            ></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
    <v-flex xs12 sm4 class="pa-1 padre">
      <v-card
        class="hijo"
        color="orange"
        dark
        @click="avisos"
        >
        <v-card-text align="center"  class="headline font-weight-bold">
          Avisos 
        </v-card-text>
      </v-card>
    </v-flex>

    <v-flex xs12 sm4  class="pa-1 padre" id="padre">
      <v-card
        color="orange"
        class="hijo"
        dark
        @click="prioridad"
        >
        <v-card-text align="center" class="headline font-weight-bold">
          Prioridad
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 sm4  class="pa-1 padre">
      <v-card
        color="orange"
        class="hijo"
        dark
        @click="entregar"
        >
        <v-card-text align="center" class="headline font-weight-bold">
          Entregar
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 sm4  class="pa-1 padre">
      <v-card
        color="orange"
        class="hijo"
        dark
        @click="devolucion"
        >
        <v-card-text align="center" class="headline font-weight-bold">
          Devolver
        </v-card-text>
      </v-card>
    </v-flex>
    <v-flex xs12 sm4  class="pa-1 padre">
      <v-card
        color="orange"
        clas="hijo"
        dark
        @click="pendientes"
        >
        <v-card-text align="center" class="headline font-weight-bold">
          Pendientes
        </v-card-text>
      </v-card>
    </v-flex>
    <!-- <v-flex xs12 sm4  class="pa-1 padre">
      <v-card
        color="orange"
        class="hijo"
        dark
        @click="actualizar"
        >
        <v-card-text align="center" class="headline font-weight-bold">
          Actualizar
        </v-card-text>
      </v-card>
    </v-flex> -->
  </v-layout>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'App',
  components: {
  },
  data () {
    return {
      dialog: false,
      logeado: false,
      drawer: null
    }
  },
  methods:{
    ...mapActions('prioridades'   ,['traerPrioridades','traerPrioridadesidb']),
    ...mapActions('login'       ,['validarUser','salirUser']),
    ...mapActions('pendientes'  ,['traerPendientes','traerPendientesIdb']),
    ...mapActions('avisos'      ,['traerAvisos']),
    ...mapActions('avisosidb'   ,['traerAvisos','traerAvisosIdb']),
    ...mapActions('actualizar'  ,['actualizaridb','createIDB','guardarIntentos','guardarImagenes','guardarEntregas','deleteIDB','guardarCorreos','abrir','limpiarPendientes']),
    ...mapActions('entregar'    ,['addEntrega_idb','addEntrega_internet','saveDatos','saveFirma']),
    ...mapActions('internet'    ,['internet']),
    

    actualizar(){
      this.internet().then(response =>{
        if(response == true){
          this.logeado = false
          this.dialog = true
          this.guardarEntregas().then(response =>{
            for (var i = response.length - 1; i >= 0; i--) {
              this.addEntrega_internet(response[i])
            }
          })

          this.guardarImagenes().then(response =>{
            for (var i = response.length - 1; i >= 0; i--) {
              let formDataDomicilio = new FormData();
              //se crea el objeto y se le agrega como un apendice el archivo 
              formDataDomicilio.append('file',response[i].domicilio);

              let formDataAcuses = new FormData();
              //se crea el objeto y se le agrega como un apendice el archivo 
              formDataAcuses.append('file',response[i].acuse);

              let formDataFirma = new FormData();
              //se crea el objeto y se le agrega como un apendice el archivo 
              formDataFirma.append('file',response[i].firma);

              //Guardo las imagenes en sus respectivas rutas
              //rutas para  domicilios
              this.$http.post('api/v1/imagen/domicilios',formDataDomicilio,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
                console.log(response)
              })
              //rutas para  acuses
              this.$http.post('api/v1/imagen/acuses',formDataAcuses,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
                console.log(response)
              })
              //rutas para  acuses
              //this.getFirma es el formadata anteriormente ya creado desde las vista de firmas  
              this.$http.post('api/v1/imagen/firmas',formDataFirma,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
                console.log(response)
              })
             
            }
            console.log('imagenes',response)

          })

          this.guardarCorreos().then(response =>{
            for (var i = response.length - 1; i >= 0; i--) {
              // 1 = entregada en domicilio
              if(response[i].tipo_entrega === 1){
                //Se manda el data a la api de enviar el correo
                this.$http.post('api/v1/sendentrega',response[i]).then(response =>{
                  console.log(response.status)
                })
              }else{
                //Se manda el data a la api de enviar el correo
                this.$http.post('api/v1/sendentregasuc',response[i]).then(response =>{
                  console.log(response.status)
                })
              }
            }
          })

          var me = this
          setTimeout(function(){
            console.log('dentro del setTimeout') 
            me.deleteIDB()
          },3000)
          
        }else{
          this.snackbar = true
        }
      })
    },
    
    avisos(){
      this.traerAvisosIdb().then(response =>{
        if(response == true){
          this.$router.push({name: 'avisos'})
        }else{
          console.log('Error al cargar los datos')
        }
      })
    },

    prioridad(){
      //se le tiene que agregar el parametro
      //parametro = idmensajero
      this.traerPrioridadesidb()
      this.$router.push({name: 'prioridad'})
    },

    pendientes(){
      //se le tiene que agregar el parametro
      //parametro = idmensajero
      this.traerPendientesIdb()
      this.$router.push({name: 'pendientes'})
    },

    entregar(){
      this.logeado = true
      this.$router.push({name: 'entregar'})
    },

    devolucion(){
      this.logeado = true
      this.$router.push({name: 'devolucion'})
    },


  }
}
</script>
<style scoped>
  div.v-card__text{
    line-height: 20px;
  }
  div{
    border-radius: 70px;
  }
  .padre {
    width: 80px;
    height: 80px;
    /* IMPORTANTE */
    display: table;
  }
  .hijo {
    /* IMPORTANTE */
    display: table-cell;
    vertical-align: middle;
  }
</style>
