<template>
  <v-layout row wrap>
  	<v-snackbar
		  v-model="snackbar"
		  :color="color"
		  top
		  >
		  {{msg}}
		  <v-btn
        dark
        flat
        @click="snackbar = false"
      >
        Cerrar
      </v-btn>
		</v-snackbar>
    <v-flex xs12>
    	<v-card>
    	  <v-card-title primary-title>
	        <h2>Recepción de Guía</h2>
	        <v-spacer></v-spacer>
			  	<v-btn color="info" @click="openScanner">Scan</v-btn>
	        <v-btn color="info" @click="internet_2" v-if="loading == true" icon><v-icon>autorenew</v-icon></v-btn>
    	  </v-card-title>
    	  <v-divider></v-divider>
    	  <v-card-text v-if="loading == false">
		      <v-text-field
		        name="name"
		        label="Folio"
		        id="id"
		        v-model="numguia"
		      ></v-text-field>
		      <div class="text-xs-left" v-if="scaner == true ">
	          <v-chip>{{ nomcli }}</v-chip>
	        </div>
    	  </v-card-text>
    	  <v-layout row wrap>
    	    <v-flex xs12 class="text-xs-center ma-2" v-if="loading == true">
    	      <v-progress-circular
				      :size="70"
				      :width="7"
				      color="purple"
				      indeterminate
				    ></v-progress-circular>
    	    </v-flex>
    	  </v-layout>
    	  <v-card-text v-if="scaner == true && loading == false" class="mb-0 pb-0">
		      <v-select
		        :items="items3"
		        v-model="tipo_entrega"
		        :disabled="vtipoent"
		        label="Entrega en:"
		      ></v-select>
		    </v-card-text>
				<v-card-text v-if="tipo_entrega != '' " class="pt-0">
				<!-- <v-card-text v-if="tipo_entrega == 'Domicilio'"> -->
		      <v-text-field
		        class="pt-0"
		        label="Recibe"
		        v-model="nomrecib"
		      ></v-text-field>
		      <v-select
		        :items="items"
		        v-model="paren"
		        label="Parentesco"
		      ></v-select>
		      <v-select
		        :items="items2"
		        label="Id"
		        v-model="ident"
		      ></v-select>
		      <v-text-field
		        label="Número de id"
		        v-model="numid"
		      ></v-text-field>
    	  </v-card-text>

    	  <!-- <v-card-text v-else-if="tipo_entrega == 'Sucursal'">
		      <v-text-field
		        label="Nombre del Trabajador"
		        v-model="nomrecib"
		      ></v-text-field>
    	  </v-card-text> -->
    	  <v-card-actions>
    	  	<v-spacer></v-spacer>
			    <!-- <v-btn color="info" @click="agregar">Agregar</v-btn> -->
			    <v-btn color="info" @click="validainfo" v-if="loading == false">Firmar</v-btn>
    	  </v-card-actions>
    	</v-card>

    </v-flex>
  </v-layout>
</template>
<script>
	import {mapGetters, mapActions} from 'vuex'
	
	document.addEventListener("deviceready", onDeviceReady, false);
	function onDeviceReady() {
	    console.log(navigator.camera);
    	console.log("navigator.geolocation works well");
	}

	export default{
		data(){
			return{
				vtipoent: false,
				loading: false,
				nomcli:'',
				ident:'',
				color:'',
				to:'',
				subject:'',
				cuerpo:'',
				id:'',
				snackbar: false,
				msg:'',
				fecha: new Date().toISOString().substr(0, 10),
				latitude: '',
        longitude:'',
				tipo_entrega:'',
				numid: '',
				scaner: false,
				numguia: '',
				nomsuc:'',
				nomrecib:'',
				paren:'',
				items:['Conyuge','Propietario','Trabajador','Hijo(a)','Hermano(a)','Madre','Padre','Cuñado (a)','Abuelo(a)','Suegro(a)'],
				items2: ['Cartilla','IFE','Licencia','Pasaporte','Educación','IMSS','Celula','Afiliación'],
				items3: ['Domicilio','Sucursal'],
				idremesa:'',
			}
		},

		created(){
    	//Al momento de cargar la vista de ejecuta la opción de internet para verficiar que haya
    	this.internet().then(response =>{
    		//Si no hay...
    		if(response === false){
    			//Activamos las alertasss
    			this.msg = 'Activa el internet'
					this.snackbar = true 
					this.loading = true
					this.color = 'red'
    		}
    	})
    },


		computed:{
			...mapGetters('pendientes',['getPendientes'])
		},

		watch:{
      numguia: function() {
        for (var i = this.getPendientes.length - 1; i >= 0; i--) {
        	if(this.getPendientes[i].Numguia == this.numguia){
        		this.nomcli = this.getPendientes[i].nomcli
        		this.id = this.getPendientes[i].Id
        		this.to = this.getPendientes[i].email
        		this.nomsuc = this.getPendientes[i].nomsuc
        		this.idremesa = this.getPendientes[i].idremesa
        		this.scaner = true
        		console.log(this.getPendientes[i])
        		if(this.getPendientes[i].tipoent == 'D'){
        			this.tipo_entrega = 'Domicilio'
        		}else{
        			this.tipo_entrega = 'Sucursal'
        		}
        		this.vtipoent = true
          }
        }
      },
    },

		methods:{
			...mapActions('entregar',['addEntrega_idb','addEntrega_internet','saveDatos']),
			...mapActions('internet',['internet']),
			//boton de actualizar el internet, este es de forma manual, y es para verificar que ahora si haya internet
			internet_2(){
				//Se verifica el internet
				this.internet().then(response =>{
					//Si no hay se avisa que no hay internet
	    		if(response === false){
	    			this.msg = 'Activa el internet'
						this.snackbar = true 
						this.loading = true
				    this.color = 'red'
	    		}else{
	    			//Si hay, quitamos el progress bar
						this.loading = false
	    		}
	    	})
			},

			validainfo(){
				if(this.numguia == '' || this.motivo == ''){
					//Si van vacios, activamos el snackbar y se carga el aviso
					this.msg = 'Neceesitas llenar los datos'
					this.snackbar = true
				}else{
					//Ya que los campos estan llenos, verifiamos de nuevo que haya internet
					this.internet().then(response =>{
						//Vrificamos la respuesta
						if(response === true){
							//Si hay, continuamos con el agregarIntento
							this.agregarIntento()
						}else{
							//Si no hay volvemos a pedir que active el internet
							this.msg = 'Activa el internet'
							this.snackbar = true
						  this.loading = true
						}
					})
				}

				//Primero e valida que el numero de guía no este vacio
				if(this.numguia == ''){
					//Se agrega el mansaje y se activa el snackbar
					this.msg = 'Debes escanear un folio'
					this.color = 'red'
					this.snackbar = true
				}else{
					//Verifico donde sera entregda la tarjeta domicilio o sucursal
					if(this.tipo_entrega == 'Domicilio'){
						//Verifico que todos los campos esten llenos
						if(this.nomrecib == '' || this.paren == '' || this.ident == '' || this.numid == ''){
							//Se agrega el mansaje y se activa el snackbar
							this.msg = 'Debes llenar todos los datos'
							this.color = 'red'
							this.snackbar = true
					  }else{
					  	//Ya que los campos estan llenos, verifiamos de nuevo que haya internet
							this.internet().then(response =>{
								//Verificamos la respuesta
								if(response === true){
							  	//Ya verificando que todo este bien, se manda a llamar la función agregar
							  	this.agregar()
								}else{
									//Si no hay volvemos a pedir que active el internet
									this.msg = 'Activa el internet'
									this.snackbar = true
								  this.loading = true
								}
							})
					  }
				  }else{
						//Verifico que todos los campos esten llenos
				  	if(this.nomrecib == ''){
				  		//Se agrega el mansaje y se activa el snackbar
				  		this.msg = 'Necesitas llenar todos los campos'
				  		this.color = 'red'
				  		this.snackbar = true
				  	}else{
				  		this.internet().then(response =>{
								//Verificamos la respuesta
								if(response === true){
							  	//Ya verificando que todo este bien, se manda a llamar la función agregar
							  	this.agregar()
								}else{
									//Si no hay volvemos a pedir que active el internet
									this.msg = 'Activa el internet'
									this.snackbar = true
								  this.loading = true
								}
							})
				  	}
				  }
			  }
			},

			//Función para abrir el escaner
			openScanner(){
				var me = this
				cordova.plugins.barcodeScanner.scan(function (result) {
		      me.numguia = result.text
		     	//Busco el resultado del escaner en el arreglo de todos los pendientes
		     	for (var i = me.getPendientes.length - 1; i >= 0; i--) {
		     		//Si lo encuentra, guardos los valores de nombre del cliente, el id, el correo
	        	if(me.getPendientes[i].Numguia == me.numguia){
	        		me.nomcli = me.getPendientes[i].nomcli
	        		me.id = me.getPendientes[i].Id
	        		me.to = me.getPendientes[i].email
	        		me.scaner = true
	          }
		      }
		    },function (error) {
		        alert("Scanning failed: " + error);
		    })
				cordova.plugins.barcodeScanner.encode(BarcodeScanner.Encode.TEXT_TYPE, "http://www.nytimes.com", function(success) {
          alert("encode success: " + success);
        }, function(fail) {
          alert("encoding failed: " + fail);
        })
		  },

		  //Función para la obtener la hora
		  hora(){
		  	//Creo una variable de tipo fecha
        var f =new Date();
        //Guardo la hora, minutos y segundos de esa variable
      	var hora = f.getHours()
      	var minuto = f.getMinutes()
      	var segundo = f.getSeconds()
      	//Verificamos que las horas, minutos o segundos sean menor a 0 para agregar un cero al principio y el formato quede así:
      	// 14:06:02  si no se agrega el cero, el formato es el siguiente 14:6:2
        if(hora < 10){
          hora = "0" + f.getHours()
        }
       
        if(minuto < 10){
          minuto = "0" + f.getMinutes() 
        }

        if(segundo < 10){
          segundo = "0" + f.getSeconds()
        }
        //Retornamos el objeto completo 
        return hora + ":" + minuto + ":" + segundo
			},

			//Función para agregar los datos despues de haber sido validad la infomración
		  agregar(){
		  	var me = this
		  	//Función que se ejecuta si se obtuvo la posición
        var onMapSuccess = function (position) {
        	console.log(position)
        	var domicilio
        	domicilio = {
        		to:             me.to,
        		subject:        'Entrega de tarjeta', 
        		id:             parseInt(me.id),
		      	latitude:       position.coords.latitude.toString(),
		      	longitude:      position.coords.longitude.toString(),
		      	nomrecibe:      me.nomrecib,
		      	parentesco:     me.paren,
		      	tipoid:         me.ident,
		      	numid:          me.numid,
		      	fecha_entrega:  me.fecha,
		      	estatus:        3,
		      	nomestatus:     'Entregada',
		      	hora_entrega:   me.hora(),
		      	tipo_entrega:   1,
		      	idsucursal:     1,
		      	linkrastreo:    me.numguia,
		      	idrem:          me.idremesa
		      }
		      console.log(domicilio)

		      var sucursal
        	sucursal = {
        		to:             me.to,
        		subject:        'Entrega de tarjeta', 
        		id:             parseInt(me.id),
		      	latitude:       position.coords.latitude.toString(),
		      	longitude:      position.coords.longitude.toString(),
		      	nomrecibe:      me.nomrecib,
		      	parentesco:     me.paren,
		      	tipoid:         me.ident,
		      	numid:          me.numid,
		      	fecha_entrega:  me.fecha,
		      	estatus:        3,
		      	nomestatus:     'Entregada',
		      	hora_entrega:   me.hora(),
		      	tipo_entrega:   2,
		      	idsucursal:     1,
		      	linkrastreo:    me.numguia,
		      	nomsuc:         me.nomsuc,
		      	idrem:          me.idremesa
		      }

		      console.log('Datos grabados para nomsuc', sucursal)

		      if(me.tipo_entrega == 'Domicilio'){
		      	me.saveDatos(domicilio)
		      }else{
		      	me.saveDatos(sucursal)
		      }

		      me.$router.push({name: 'firma'})
        }
       
		    //Esta funcion se llama solo si se ocurre algun error
	      function onMapError(error) {
	      	if(error.POSITION_UNAVAILABLE == 2){
		        me.color = 'red'
	         	me.msg = 'Activa la ubicación'
	          me.snackbar = true
	      	}
	      }

	      //Aquí se manda a llamar el geolocalizador (correcto, error)
	      navigator.geolocation.getCurrentPosition(onMapSuccess, onMapError);
		  },

		  //FUNCIÖN AGREGAR correos
		  correos(){
		  	var me = this
		  	this.$http.post('api/v1/correos',{
					to:      this.to,
					subject: 'Entrega de tarjeta',
					cuerpo:  'Tu tarjeta del Banco: XXXXXXXXX Numguia: XXXXXX a sido entregada a: Nomrecibe'
				}).then(function(response){
          if(response.status == 200){
          	me.color = 'success'
          	me.snackbar = true
          	me.msg = 'Datos grabados y correo enviado'
          }else{
          	me.color = 'red'
          	me.snackbar = true
          	me.msg = 'Falla al enviar el correo'
          }
          setTimeout(function(){ me.$router.push({name: 'menu'}) }, 1500);
        })
		  },
		}
	}
</script>

