<template>
  <v-layout row wrap>
    <v-snackbar
      v-model="snackbar"
      :color="color"
      top
      >
      {{msg}}
      <v-btn flat  @click.native="value = false">Close</v-btn>
    </v-snackbar>
    <v-flex xs12>
      <v-card>
        <VueSignaturePad
          id="canvas"
          height="500px"
          ref="signaturePad"
        />
        <v-card-actions>
          <v-btn color="primary" @click="save">Guardar</v-btn>
          <v-btn color="info" @click="undo">Regresar</v-btn>
          <v-btn color="white" :to="{name:'entregar'}">Cancelar</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
  
</template>
<script>
  import VueSignaturePad from 'vue-signature-pad';
  import {mapGetters, mapActions} from 'vuex'
  export default {
    data(){
      return{
        snackbar:'',
        color:'',
        msg:'',
      }
    },
    name: 'MySignaturePad',
    components:{
      VueSignaturePad
    },

    computed:{
      ...mapGetters('entregar', ['getDatosEntrega'])
    },

    methods:{
      ...mapActions('internet',['internet']),
      ...mapActions('entregar',['addEntrega_idb','addEntrega_internet','saveDatos','saveFirma']),

      undo(){
        this.$refs.signaturePad.undoSignature();
      },

      save() {
        const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
        console.log(isEmpty)
        const url = data;
        //Verificamos que tenga una firma
        if(url === undefined){
          //Se activan las alertas
          this.msg = 'No has agregado una firma'
          this.color = 'red'
          this.snackbar = true
        }else{
          fetch(url)
            //se obtiene la respuesta y se convierte la respuesta a blob
            .then(res => res.blob())
            //se hace una consulta al resultado de la converción 
            .then(blob => {
              // se crea ubjeto de tipo archivo y se le agrega el nombre
              const file = new File([blob], this.getDatosEntrega.linkrastreo + '.png')
              //Prepara objeto a enviar
              let formData = new FormData();
              //se crea el objeto y se le agrega como un apendice el archivo 
              formData.append('file',file);
              //Se guarda la firma en el modulo
              // this.saveFirma({form: formData})
              this.saveFirma({form: formData, data: file })
              //Ahora lo mandamos a la vista de las fotos
              this.$router.push({name:'fotos'})

            })
        }
        //se hace una consulta al url
      }
    }
  }
</script>
<style scoped>
  #canvas{
    border-color: black;
    border-style: solid;
    width: 100%;
  }
</style>