<template>
	<v-layout align-start  row wrap>
		<!-- Alerta para avisar que todo se cargo -->
		<v-snackbar
		  v-model="snackbar"
		  :color="color"
		  dark
		  top
		  >
		  {{msg}}
		  <v-btn flat  @click="snackbar = false">Cerrar</v-btn>
		</v-snackbar>
		<!-- Foto del domicilio -->
	  <v-flex xs12>
		<v-card>
			<v-card-title primary-title>
			  <h3>Foto Domicilio</h3>
			  <v-spacer></v-spacer>
				<v-btn color="primary" @click="fotoDomicilio"><v-icon>camera_alt</v-icon></v-btn>
			</v-card-title>
			<v-card-text v-if="srcDomicilio !== ''">
			  <div id="imagenapegar">
				<img 
				  :src="srcDomicilio"
				  alt="alt" 
				  style="height: 300px;"
				>
			  </div>
			  </v-card-text>	
		</v-card>
	  </v-flex>

		<!-- Foto del acuse -->
	  <v-flex xs12>
		<v-card>
			<v-card-title primary-title>
			  <h3>Foto Acuse</h3>
			  <v-spacer></v-spacer>
				<v-btn color="primary" @click="fotoAcuse"><v-icon>camera_alt</v-icon></v-btn>
			</v-card-title>
			<v-card-text v-if="srcAcuse !== ''">
			  <div id="imagenapegar">
				<img 
				  :src="srcAcuse"
				  alt="alt" 
				  style="height: 300px;"
				>
			  </div>
			  </v-card-text>	
		</v-card>
	  </v-flex>
	
	  <!-- Botón para terminar la entrega -->
	  <v-flex xs12 v-if="srcDomicilio !== '', srcAcuse !== ''">
		<v-btn color="primary" @click="terminarEntrega" >Terminar</v-btn>
	  </v-flex>

	</v-layout>
</template>
<script>
	document.addEventListener("deviceready", onDeviceReady, false);
	function onDeviceReady() {
		console.log(navigator.camera);
	}
  import {mapGetters, mapActions} from 'vuex'

	export default{
		data(){
			return{
				blobUrl:'',
				srcDomicilio: '',
				srcAcuse: '',
				blob1: 'foto',
				imgDomicilio:'',
				imgAcuse:'',
				msg:'',
				snackbar: false,
				color:'',
				// #0F384F
			}
		},

		computed:{
	  ...mapGetters('entregar', ['getDatosEntrega','getFirma']),
			...mapGetters('pendientes',['getPendientes'])

	},

	methods:{
	  ...mapActions('internet',['internet']),
	  ...mapActions('entregar',['addEntrega_idb','addEntrega_internet','saveDatos','saveFirma','addCorreos']),
	  ...mapActions('imagenes',['addImagenes_idb']),
			...mapActions('pendientes',['deletePendienteidb']),

			fotoDomicilio(){
				var me = this;
				//Abro la camara
				navigator.camera.getPicture( onSuccess ,  onError ,  { quality: 50,  quality: 50, destinationType: Camera.DestinationType.DATA_URL })

				//Función que se ejecuta cuando se carga la imagen
				function onSuccess(imageData) {
					//Verifico que la imagen no este vacia
					if(imageData == '' || imageData === undefined || imageData === null){
						//si esta vacia activo la alerta
						me.msg = 'Debes tomar la foto del domicilio'
					  me.color = 'red'
					  me.snackbar = true
					}else{
						//creo el src para mostrar la imagen
						me.srcDomicilio = "data:image/jpeg;base64," + imageData;
						const contentType = 'image/png';
						//Creo el el objeto blob, para ello mando a llamar una funcion a la que le mando el base64 y el tipo de archivo que será
						const blob = me.b64toBlob(imageData, contentType);
						// se crea ubjeto de tipo archivo y se le agrega el nombre
			      me.imgDomicilio = new File([blob], me.getDatosEntrega.linkrastreo + '.png')
					}
				}

				//Función que se ejecuta si la foto no se cargo
				function onError(message) {
					me.blob = 'de el lado de el error'
				}
			},

			fotoAcuse(){
				var me = this;
				//Abro la camara
				navigator.camera.getPicture( onSuccess ,  onError ,  { quality: 50,  quality: 50, destinationType: Camera.DestinationType.DATA_URL })

				//Función que se ejecuta cuando se carga la imagen
				function onSuccess(imageData) {
					//Verifico que la imagen no este vacia
					if(imageData == '' || imageData === undefined || imageData === null){
						//si esta vacia activo la alerta
						me.msg = 'Debes tomar la foto del acuse'
					  me.color = 'red'
					  me.snackbar = true
					}else{
						//creo el src para mostrar la imagen
						me.srcAcuse = "data:image/jpeg;base64," + imageData;
					  const contentType = 'image/png';
						//Creo el el objeto blob, para ello mando a llamar una funcion a la que le mando el base64 y el tipo de archivo que será
						const blob = me.b64toBlob(imageData, contentType);
						// se crea ubjeto de tipo archivo y se le agrega el nombre
			      me.imgAcuse = new File([blob], me.getDatosEntrega.linkrastreo + '.png')
			}
				}

				function onError(message) {
					// me.blob = 'de el lado de el error'
				}
			},

			terminarEntrega(){
				var me = this
				//Preparo las imagenes para mandarlas
				let formDataDomicilio = new FormData();
				//se crea el objeto y se le agrega como un apendice el archivo 
				formDataDomicilio.append('file',this.imgDomicilio);

				let formDataAcuses = new FormData();
				//se crea el objeto y se le agrega como un apendice el archivo 
				formDataAcuses.append('file',this.imgAcuse);

				//Verificar que haya internet
				this.internet().then(response =>{
				  //condicion para internet
				  if(response === true){
					//si hay internet, se manda un post con los datos de entrega
					this.addEntrega_internet(this.getDatosEntrega)
						//Guardo las imagenes en sus respectivas rutas
						//rutas para  domicilios
						this.$http.post('api/v1/imagen/domicilios',formDataDomicilio,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
						  console.log(response)
						})
						//rutas para  acuses
						this.$http.post('api/v1/imagen/acuses',formDataAcuses,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
						  console.log(response)
						})
						//rutas para  acuses
						//this.getFirma es el formadata anteriormente ya creado desde las vista de firmas  
						this.$http.post('api/v1/imagen/firmas',this.getFirma.form,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
						  console.log(response)
						})
						var me = this
					//enviar correo carjo los datos requeridos de la api
					var data = {
						email:     this.getDatosEntrega.to,
						subject:   this.getDatosEntrega.subject,
						numguia:   this.getDatosEntrega.linkrastreo,
						fecha:     this.getDatosEntrega.fecha_entrega,
						hora:      this.getDatosEntrega.hora_entrega,
						nomrecibe: this.getDatosEntrega.nomrecibe,
						nomsuc:    this.getDatosEntrega.nomsuc
					}
					if(this.getDatosEntrega.tipo_entrega === 1){
						//Se manda el data a la api de enviar el correo
						this.$http.post('api/v1/sendentrega',data).then(function(response){
							//si e estus es 200 se muestra el snackbar de que todo esta correcto
							  if(response.status == 200){
								me.color = '#0F384F'
								me.msg = 'Datos grabados y correo enviado'
								me.snackbar = true
							  }else{ //si no responde un estatus de 200 se muestra el error
								me.color = 'red'
								me.msg = 'Falla al enviar el correo'
								me.snackbar = true
							  }
							})
					}else{
						//Se manda el data a la api de enviar el correo
						this.$http.post('api/v1/sendentregasuc',data).then(function(response){
							//si e estus es 200 se muestra el snackbar de que todo esta correcto
							  if(response.status == 200){
								me.color = '#0F384F'
								me.snackbar = true
								me.msg = 'Datos grabados y correo enviado'
							  }else{ //si no responde un estatus de 200 se muestra el error
								me.color = 'red'
								me.msg = 'Falla al enviar el correo'
								me.snackbar = true
							  }
							})
					}
					//Activamos las alertas
					this.msg = 'Datos grabados exitosamente'
					this.color = '#0F384F'
					this.snackbar = true
					// this.deletePendienteidb(this.getDatosEntrega.linkrastreo)
					//espero 3 segundos para enviarlo al menu principal
					setTimeout(function(){me.$router.push({name: 'menu'})  }, 1500);
				   
				  }else if(response === false){
					var correo = {
						email:     this.getDatosEntrega.to,
						subject:   this.getDatosEntrega.subject,
						numguia:   this.getDatosEntrega.linkrastreo,
						fecha:     this.getDatosEntrega.fecha_entrega,
						hora:      this.getDatosEntrega.hora_entrega,
						nomrecibe:    this.getDatosEntrega.nomrecibe
					}

					//función para guardar los correos en el idb
					this.addCorreos(correo)

					//si no hay internet se agregan los datos de entrega el idb
					this.addEntrega_idb(this.getDatosEntrega)
					//Se cre un objeto de imagenes
					var imagenes = {
						id_numguia: this.getDatosEntrega.linkrastreo,
						acuse:     this.imgAcuse,
						firma:     this.getFirma.data,
						domicilio: this.imgDomicilio
					}
					//Agreamos las imagenes al idb
					this.addImagenes_idb(imagenes)
					this.msg = 'Datos grabados en el teléfono'
					this.color = '#0F384F'
					this.snackbar = true
					// this.deletePendienteidb(this.getDatosEntraeg.linkrastreo)
					var me = this
					//espero 3 segundos para enviarlo al menu principal
					setTimeout(function(){me.$router.push({name: 'menu'})  }, 1500);
				  }
				})
			},
			
			//Función para convertir una imagen a un archivo
			b64toBlob(b64Data, contentType='', sliceSize=512){
			  const byteCharacters = atob(b64Data);
			  const byteArrays = [];

			  for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
				const slice = byteCharacters.slice(offset, offset + sliceSize);

				const byteNumbers = new Array(slice.length);
				for (let i = 0; i < slice.length; i++) {
				  byteNumbers[i] = slice.charCodeAt(i);
				}

				const byteArray = new Uint8Array(byteNumbers);
				byteArrays.push(byteArray);
			  }
				
			  const blob = new Blob(byteArrays, {type: contentType});
			  return blob;
		  }
		}
	}
</script>