<template>
	<v-layout row wrap>
	  <v-flex xs12>
	    <v-btn color="primary" @click="openCamara">Abrir camara</v-btn>
	  </v-flex>
	  <v-flex xs12>
      <div id="imagenapegar">
        <img 
          :src="src"
          alt="alt" 
          style="height: 300px;"
        >
      </div>
    </v-flex> 
	</v-layout>
</template>
<script>
	document.addEventListener("deviceready", onDeviceReady, false);
	function onDeviceReady() {
	    console.log(navigator.camera);
	}
	export default{
		data(){
			return{
				src: '',
				blob: 'foto'
			}
		},
		methods:{
			openCamara(){
				var me = this;
				// console.log("se abrio la camara")
				navigator.camera.getPicture( onSuccess ,  onError ,  { quality: 50,  quality: 50, destinationType: Camera.DestinationType.DATA_URL })

				function onSuccess(imageData) {
					var srcAux = "data:image/jpeg;base64," + imageData;
					// console.log("se abrio la camara" + imageData)
					// var blobUrl = URL.createObjectURL(imageData);
					me.blob = 'foto3'
					me.src = srcAux
					// var  imagen  = documento . getElementById ( ' myImage ' ) ; 
     //      imagen . src = " data: image / jpeg; base64, " +  imageData ; 
					// var srcAux = "data:image/jpeg;base64," + imageData;
					
					// self.fotovacio.src = srcAux;

					me.guardarunafoto();
				}

				function onError(message) {
					me.blob = 'de el lado de el error'
				}
			},
			guardarunafoto(){
				this.blob = 'foto2'
			},
		}
	}
</script>