<template>
  <v-layout justify-center  row wrap>
    <v-flex xs12>
      <v-card
        class="ma-2"
        v-for="(avisos, i) in getAvisos"
        :key="i"
      >
        <v-card-title primary-title>
          <div>
            <h2 class="headline">Número Guia: {{avisos.Numguia}}</h2>
          </div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
         <h3>Fecha: {{ avisos.Fecha }}</h3>
         <h3>Fecha visto: {{ avisos.fecha_visto }}</h3>
         <h3>Mensaje: {{ avisos.Aviso }}</h3>
        </v-card-text>
        <v-card-actions>
          <v-btn flat color="orange">Entregar</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import {mapGetters, mapActiones} from 'vuex'
  export default {
    data () {
      return {
      	dataBase:'',
        search: '',
        headers: [
          { text: 'Nombre', value: 'Aviso' },
          { text: 'Password', value: 'Aviso' },
        ],
      }
    },

    computed:{
    	...mapGetters('indexDB',['getAvisos']),
    },

    created(){
    	// this.traerValores()
    },

    methods:{
    	// ...mapActions('indexDB',['index','idbtraerAvisos']),
    	// addDatos(){
    	// 	var data
    	// 	data = [
    	// 		{metodo: 'post'},
    	// 		{nomuser: this.nomuser, password: this.password}
    	// 	]
    	// 	this.index(data)
    
    	// },

    	// traerValores(){
    	// 	this.index(data)
    	// }
    }
  }
</script>

<style scoped>
#scroll {
  height:400px;
  overflow:auto;
}
</style>