<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-card>
        <v-card-title primary-title>
          Mi ubicación en coordenadas
        </v-card-title>
        <v-card-text>
          <v-text-field
            label="Dirección"
            v-model="address"
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" @click="getCoords()" round>Obtener coordenadas</v-btn>
        </v-card-actions>
        <v-card-text>
          <v-text-field
            v-model="latitud"
            label="Latitud"
          ></v-text-field>
          <v-text-field
            v-model="longitud"
            label="Longitud"
          ></v-text-field>
          <v-divider ></v-divider>
        </v-card-text>
      </v-card>       
      <div id="myMap"> </div>
    </v-flex>
  </v-layout>
</template>
<script>
  import {mapGetters, mapActions} from 'vuex'
  
  document.addEventListener("deviceready", onDeviceReady, false);
  function onDeviceReady() {
      console.log(navigator.camera);
  }


  export default{
    data(){
      return{
        latitud: '',
        longitud:'',
        address:'',
        map:'',
      }
    },


    methods:{
     getCoords(){
       
      var me = this
      var geocoder = new google.maps.Geocoder();

      if(this.address!=''){
        // Llamamos a la función geodecode pasandole la dirección que hemos introducido en la caja de texto.
        geocoder.geocode({ 'address': this.address}, function(results, status){
          if (status == 'OK'){
          // Mostramos las coordenadas obtenidas en el p con id coordenadas
          me.latitud = results[0].geometry.location.lat()
          me.longitud = results[0].geometry.location.lng()


          me.map = new google.maps.Map(document.getElementById("myMap"),{
          //center manda las coordenadas de tuubicación
          center:{lat: me.latitud , lng: me.longitud},
          //el zoom es que tan preciso quieres que se vea el mapa, en este caso 20 para que aparezca la casa
          // si quieres que apareta el municipio o estado se coloca un 11
          zoom: 20 ,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          mapTypeControl: true,
          mapTypeControlOptions: {
              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
              position: google.maps.ControlPosition.TOP_LEFT
          },
          zoomControl: true,
          zoomControlOptions: {
              position: google.maps.ControlPosition.RIGHT_CENTER
          },
          scaleControl: true,
          streetViewControl: false,
          streetViewControlOptions: {
              position: google.maps.ControlPosition.LEFT_TOP
          },
          fullscreenControl: true,
          disableDefaultUI: true,    
        });


        // Centramos el mapa en las coordenadas obtenidas

        var image = new google.maps.MarkerImage("http://www.md3.mx/clientes/marker2.ico");
        var beachMarker = new google.maps.Marker({
          position: {lat: me.latitud, lng: me.longitud},
          map: me.map,
          icon: image
        });

        beachMarker.setMap(me.map);
        }
        });
      }
    }
  }
}
</script>
<style scoped>
    #myMap {
    height:300px;
    width: 100%;
   }
</style>

