<template>
  <v-layout row wrap>
  	<v-snackbar
		  v-model="snackbar"
		  :color="color"
		  top
		  >
		  {{msj}}
		  <v-btn flat  @click.native="value = false">Close</v-btn>
		</v-snackbar>
    <v-flex xs12>
    	<v-card>
    	  <v-card-title primary-title>
	        <h2>Recepción de Guía    </h2>
    	  <v-card-actions>
			    <v-btn color="info" @click="openScanner">Scan</v-btn>
    	  </v-card-actions>
    	  

    	  </v-card-title>


    	  <v-divider></v-divider>
    	  <v-card-text>
		      <v-text-field
		        name="name"
		        label="Número"
		        id="id"
		        v-model="numguia"
		      ></v-text-field>
    	  </v-card-text>

    	  
    	</v-card>
    	<v-card v-if="scaner">
    	  <v-card-text>
		      <v-select
		        :items="items3"
		        v-model="tipo_entrega"
		        label="Entrega en:"
		      ></v-select>
		    </v-card-text>
				<v-card-text v-if="tipo_entrega == 'Domicilio'">
		      <v-text-field
		        label="Recibe"
		        v-model="nomrecib"
		      ></v-text-field>
		      <v-select
		        :items="items"
		        v-model="paren"
		        label="Parentesco"
		      ></v-select>
		      <v-select
		        :items="items2"
		        label="Id"
		        v-model="ident"
		      ></v-select>
		      <v-text-field
		        label="Número de id"
		        v-model="numid"
		      ></v-text-field>
    	  </v-card-text>

    	  <v-card-text v-else-if="tipo_entrega == 'Sucursal'">
		      <v-text-field
		        label="Nombre del Trabajador"
		        v-model="nomrecib"
		      ></v-text-field>
    	  </v-card-text>
    	  <v-card-actions>
			    <v-btn color="info" @click="agregar">Agregar</v-btn>
			    <v-btn color="info" :to="{name: 'firma'}">Firmar</v-btn>
    	  </v-card-actions>
    	</v-card>

    </v-flex>
  </v-layout>
</template>
<script>
	import {mapGetters, mapActions} from 'vuex'
	
	document.addEventListener("deviceready", onDeviceReady, false);
	function onDeviceReady() {
	    console.log(navigator.camera);
	}

	export default{
		data(){
			return{
				conexion: false,
				color:'',
				to:'',
				subject:'',
				cuerpo:'',
				id:'',
				snackbar: false,
				msj:'',
				fecha: new Date().toISOString().substr(0, 10),
        hora: new Date().toISOString().substr(11, 8),
				latitude: '',
        longitude:'',
				tipo_entrega:'',
				numid: '',
				scaner: false,
				numguia: '',
				nomrecib:'',
				ident:'',
				entr:'',
				paren:'',
				items:['Conyuge','Propietario','Trabajador','Hijo(a)','Hermano(a)','Madre','Padre','Cuñado (a)','Abuelo(a)','Suegro(a)'],
				items2: ['Cartilla','IFE','Licencia','Pasaporte','Educación','IMSS','Celula','Afiliación'],
				items3: ['Domicilio','Sucursal']
			}
		},

		computed:{
			...mapGetters('pendientes',['getPendientes'])
		},


		watch:{
      numguia: function() {
        for (var i = this.getPendientes.length - 1; i >= 0; i--) {
        	if(this.getPendientes[i].Numguia == this.numguia){
        		this.id = this.getPendientes[i].Id
        		this.to = this.getPendientes[i].email
        		this.scaner = true
          }
        }
      },
    },

		methods:{
			...mapActions('entregar',['addEntrega_idb','addEntrega_internet']),
			...mapActions('internet',['internet']),

        
			validaInfo(){
				if(this.numguia == '' || this.motivo == ''){
					this.snackbar = true
				}else{
					this.agregarIntento()
				}
			},

			openScanner(){
				var me = this
				cordova.plugins.barcodeScanner.scan(function (result) {
		      me.numguia = result.text
		     	me.scaner = true
		    },function (error) {
		        alert("Scanning failed: " + error);
		    })
				cordova.plugins.barcodeScanner.encode(BarcodeScanner.Encode.TEXT_TYPE, "http://www.nytimes.com", function(success) {
          alert("encode success: " + success);
        }, function(fail) {
          alert("encoding failed: " + fail);
        })
		  },

		  agregar(){
		  	// 1 Domicilio
		  	// 2 Sucursal
		  	var me = this
        var onMapSuccess = function (position) {
        	me.latitude = position.coords.latitude 
        	me.longitude = position.coords.longitude 
        	var domicilio
        	domicilio = {
        		id:             parseInt(me.id),
		      	latitude:       me.latitude.toString(),
		      	longitude:      me.longitude.toString(),
		      	nomrecibe:      me.nomrecib,
		      	parentesco:     me.paren,
		      	tipoid:         me.ident,
		      	numid:          me.numid,
		      	fecha_entrega:  me.fecha,
		      	estatus:        3,
		      	nomestatus:     'Entrega',
		      	hora_entrega:   me.hora,
		      	tipo_entrega:   1,
		      	idsucursal:     1
		      }
		      var sucursal
        	sucursal = {
        		id:             parseInt(me.id),
		      	latitude:       me.latitude.toString(),
		      	longitude:      me.longitude.toString(),
		      	nomrecibe:      me.nomrecib,
		      	parentesco:     me.paren,
		      	tipoid:         me.ident,
		      	numid:          me.numid,
		      	fecha_entrega:  me.fecha,
		      	estatus:        3,
		      	nomestatus:     'Entrega',
		      	hora_entrega:   me.hora,
		      	tipo_entrega:   1,
		      	idsucursal:     1
		      }
        	if(me.tipo_entrega == 'Domicilio'){
			      me.internet().then(response =>{
			      	if(response === true){
								me.addEntrega_internet(domicilio)
								me.correos()
			      	}else if(response === false){
			      		me.addEntrega_idb(domicilio)
			      		me.correos()
			      	}
			      })
        	}else{
			      me.internet().then(response =>{
			      	if(response === true){
								me.addEntrega_internet(sucursal)
								me.correos()
			      	}else if(response === false){
			      		me.addEntrega_idb(sucursal)
			      		me.correos()
			      	}
			      })
        	}
        }
       
	    //Esta funcion se llama solo si se ocurre algun error
      function onMapError(error) {
        console.log('code: ' + error.code + '\n' + 'message: ' + error.message + '\n');
      }

	      navigator.geolocation.getCurrentPosition(onMapSuccess, onMapError, { enableHighAccuracy: true });
		  },

		  //FUNCIÖN AGREGAR correos
		  correos(){
		  	var me = this
		  	console.log(this.to)
		  	var formData = {
					email:   'manuel@sait.com.mx',
					subject: 'Su tarjeta ha sido entregada en domicilio',
					nombre: 	'',
					colonia: 	'',
					ciudad:   '',
					nomrecibe: me.nomrecib,
					fecha:    me.fecha,
					hora:     me.hora,
					tipo_entrega: 1,
					numguia: me.numguia,
				}

				console.log (formData)
				// 2019052334345

		  	this.$http.post('api/v1/sendentrega',formData).then(function(response){
          if(response.status == 200){
          	me.color = 'success'
          	me.snackbar = true
          	me.msj = 'Datos grabados y correo enviado'
          }else{
          	me.color = 'red'
          	me.snackbar = true
          	me.msj = 'Falla al enviar el correo'
          }
          setTimeout(function(){ me.$router.push({name: 'menu'}) }, 3000);
        })
		  },
		}
	}
</script>

