<template>
	<v-layout row wrap>
		<v-flex xs12>
		  <v-card>
		    <v-card-title class="subheading">
		      Envio de sms
		    </v-card-title>
		    <v-card-text>
		      <v-text-field
		        name="name"
		        label="Teléfono"
		        id="id"
		        v-model="telefono"
		        prepend-icon="local_phone"
		      ></v-text-field>
		      <v-textarea
	          solo
	          name="input-7-4"
	          label="Solo textarea"
	          v-model="mensaje"
	        ></v-textarea>
		    </v-card-text>
		    <v-card-actions>
		      <v-btn color="primary" @click="enviarsms">Send 1</v-btn>
		    </v-card-actions>
		  </v-card>
		</v-flex>
	</v-layout>
</template>
<script>
	export default{
		data(){
			return{
				telefono:'8121058094',
				mensaje:'Hola'
			}
		},

		created(){
			
		},

		methods:{
			enviarsms(){
        var number = this.telefono /* iOS: ensure number is actually a string */
        var message = this.mensaje;
        console.log("number=" + number + ", message= " + message);

        //CONFIGURATION
        var options = {
            replaceLineBreaks: false, // true to replace \n by a new line, false by default
            android: {
                intent: 'INTENT'  // send SMS with the native android SMS messaging
                // intent: '' // send SMS without opening any other app
            }
        };

        var success = function () { alert('Mensjae enviado correctamente'); };
        var error = function (e) { alert('Message Failed:' + e); };
        sms.send(number, message, options, success, error);
			},


		}
	}
</script>