<template>
	<v-layout row wrap>
	  <v-flex xs12>
	    <v-card>
	      <v-text-field
	        name="name"
	        label="label"
	        id="id"
	        type="file"
	      ></v-text-field>
	    </v-card>
	  </v-flex>
	</v-layout>
</template>