<template>
  <div class="hello">
    <v-btn color="success" @click="ubica">ubicacion</v-btn>
    <v-btn color="success" @click="ubica2">ubicacion</v-btn>
    <h1>{{ msg }}</h1>

    <div id="myMap"></div>
  </div>

</template>

<script>
  document.addEventListener("deviceready", onDeviceReady, false);
    function onDeviceReady() {
        console.log("navigator.geolocation works well");
    }

export default {
  name: 'hello',
  data () {
    return {
      map:'',
      latitude: '',
      longitude: '',
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods:{
    ubica(){
      var onSuccess = function(position) {
        
      alert('Latitude: '          + position.coords.latitude          + '\n' +
            'Longitude: '         + position.coords.longitude         + '\n' +
            'Altitude: '          + position.coords.altitude          + '\n' +
            'Accuracy: '          + position.coords.accuracy          + '\n' +
            'Altitude Accuracy: ' + position.coords.altitudeAccuracy  + '\n' +
            'Heading: '           + position.coords.heading           + '\n' +
            'Speed: '             + position.coords.speed             + '\n' +
            'Timestamp: '         + position.timestamp                + '\n');
       
      
      }

      function onError(error) {
        alert('code: '    + error.code    + '\n' +
            'message: ' + error.message + '\n');
      }

      navigator.geolocation.getCurrentPosition(onSuccess, onError);
    },
    ubica2(){
      this.map = new google.maps.Map(document.getElementById('myMap'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 19
      });
    }
  }
}


</script>
<style scoped>
    #myMap {
    height:300px;
    width: 100%;
   }
</style>