<template>
  <v-layout justify-center  row wrap>
    <v-flex xs12>
      <v-card class="ma-2">
        <v-card-title primary-title>
          <div>
            <h2 class="headline">Número Guia: {{getAviso.Numguia}}</h2>
          </div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <table>
            <tr>
              <td id="titulo" style="width: 30% !important"><strong>Fecha:</strong></td>
              <td>{{ getAviso.Fecha }}</td>
            </tr>
             <tr>
              <td id="titulo" style="width: 30% !important"><strong>Aviso:</strong></td>
              <td>{{ getAviso.Aviso }}</td>
            </tr>
             <tr v-if = "getAviso.direccion != ''"" >
              <td id="titulo" style="width: 30% !important"><strong>Sucursal:</strong></td>
              <td>{{ getAviso.direccion }}</td>
            </tr>
          </table>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
  export default {
    computed:{
    	...mapGetters('avisosidb',['getAviso']),
    },

    created(){
    	console.log('getAviso',this.getAviso)
    }
  }
</script>
<style scoped>
  table{
    width: 100%;
  }
  tr{
    width: 100%;
  }

  td {
    width: 50%;
  }
</style>