<template>
  <v-layout justify-center  row wrap>
    <v-flex xs12>
      <v-card
        class="ma-2"
        v-for="(avisos, i) in getAvisos"
        :key="i"
      >
        <v-card-title primary-title>
          <div>
            <h2 class="headline">Número Guia: {{avisos.Numguia}}</h2>
          </div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
         <h3>Fecha: {{ avisos.Fecha }}</h3>
         <h3>Fecha visto: {{ avisos.fecha_visto }}</h3>
         <h3>Mensaje: {{ avisos.Aviso }}</h3>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
  export default {
    creatd(){
      this.traerAvisosIdb().then(response =>{
        if(response == true){
          console.log('Cargo bien los avisos')
        }else{
          console.log('Error al cargar los avisos')
        }
      })
    },

    methods:{
      ...mapActions('avisosidb',['traerAvisosIdb']),

    },

    computed:{
      ...mapGetters('avisosidb',['getAvisos']),
    },
  }
</script>

<style scoped>
#scroll {
  height:400px;
  overflow:auto;
}
</style>