<template>
	<v-layout row wrap>
	  <v-flex xs12>
		  <v-card>
		    <v-card-title>
      		<h2>Folio</h2>
		      <v-text-field
		        class="pl-3 mb-4"
		        v-model="search"
		        append-icon="search"
		        label="Search"
		        single-line
		        hide-details
		      ></v-text-field>
		    </v-card-title>
		    <v-divider></v-divider>
		    <div id="scroll" >
			    <v-data-table
			      :headers="headers"
			      :items="folios"
			      :search="search"
			      hide-actions
			      hide-headers
			    >
			      <template v-slot:items="props">
			        <td>{{ props.item.Numguia }}</td>
			        <td ><v-icon @click="vistaAviso(props.item)"  v-if=" props.item.Estatus == true" color="blue-grey">email</v-icon></td>
			        <td ><v-icon v-if=" props.item.tipoent == 'D'" color="blue-grey">home</v-icon><v-icon v-else color="blue-grey">domain</v-icon></td>
			        <v-divider></v-divider>

			        <!-- <td><v-icon color="yellow">star</v-icon></td> -->
			      </template>
			      <v-alert v-slot:no-results :value="true" color="error" icon="warning">
			        No hay resultados
			      </v-alert>
		    	</v-data-table>
		    	<v-divider></v-divider>
		  	</div>
		  </v-card>
	  </v-flex>
	</v-layout>
</template>
<script> 
  import {mapGetters, mapActions} from 'vuex'

  export default {
    data () {
      return {
        search: '',
        headers: [
          { text: 'Folio', value: 'Numguia' },
        ],
        folios:[]
      }
    },

    computed:{
    	...mapGetters('pendientes',['getPendientes']),
    	...mapGetters('avisosidb',['getAvisos']),
    },

    created(){

    	for (var i = this.getPendientes.length - 1; i >= 0; i--) {
    		this.folios.push({
    			Numguia: this.getPendientes[i].Numguia, 
    			tipoent: this.getPendientes[i].tipoent,
    			direccion: this.getPendientes[i].direccion + ', ' + this.getPendientes[i].colonia + ', '+ this.getPendientes[i].ciudad + ', ' + this.getPendientes[i].estado,
    			Estatus: false, 
    			Aviso: '',
    			Fecha: ''
    		})
    	}


    	for (var k = this.folios.length - 1; k >= 0; k--) {
    		for (var j = this.getAvisos.length - 1; j >= 0; j--) {
    			if(this.getAvisos[j].Numguia == this.folios[k].Numguia){
    				this.folios[k].Estatus =   true  
    				this.folios[k].Aviso =     this.getAvisos[j].Aviso
    				this.folios[k].Fecha =     this.getAvisos[j].Fecha
    				if(this.folios[k].tipoent == 'D'){
    					this.folios[k].direccion = ''
    				}
    			}
    		}
    	}


    },

    methods:{
    	...mapActions('pendientes',['traerPendientesIdb']), 
    	...mapActions('avisosidb',['vistaAviso']), 
    	eliminar(numguia){
    		var request = window.indexedDB.open("solemexV1", 2);
    		request.onerror = function(event) {
				  console.log('se abrio')
				};
				request.onsuccess = function(event) {
					var db = event.target.result;
			    var request = db.transaction(["pendientes"], "readwrite").objectStore("pendientes").delete(4);
						request.onsuccess = function(event) {
						  console.log('se elimino', event)
						};
				};
    	}
    }
  }
</script>

<style scoped>
#scroll {
  height:400px;
  overflow:auto;
}
</style>

