<template>
	<v-layout row wrap>
	  <v-flex xs12>
	    <v-card class="pa-2">
			  <div class="hello">
			    <h1>{{ msg }}</h1>
			    <v-divider></v-divider>
			    <div id="map"></div>
			  </div>
	    </v-card>
	  </v-flex>
	</v-layout>

</template>

<script>

export default {
  name: 'hello',
  data () {
    return {
      marker:'',
      map:'',
      latitude: '',
      longitude: '',
      msg: 'Mi ubicación'
    }
  },

  created(){
    var me = this
      //Funcion que se ejecuta cuando esta disponible la funcionalidad de la ruta
      var onSuccess = function(position) {

        //Crear una variable que contendra solo la longitud y la latitud
        var myLatLng 
        //Creo un objeto con la latitud y la longitud
        myLatLng = {lat: position.coords.latitude , lng: position.coords.longitude}

        //Aquí es donde se crea el mapa
        //cear un nuevo mapa y le dices en donde se dibujara
	      me.map = new google.maps.Map(document.getElementById('map'), {
          //center: la ubicación
	        center: myLatLng,
          //Zoom solo es la distancia a la que se vera el mapa
	        zoom: 20,
          //activa el tipo de mapa para satelite o relieve
          mapTypeControl: true,
          mapTypeControlOptions: {
              //Defines en donde quieres que se vea la opcion
              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
              position: google.maps.ControlPosition.TOP_LEFT
          },
          //activa la función del control
          zoomControl: true,
          zoomControlOptions: {
              //Defines en donde quieres que se vea la opcion
              position: google.maps.ControlPosition.RIGHT_CENTER
          },
          //para definir el tipo de escala
          scaleControl: true,
          streetViewControl: false,
          streetViewControlOptions: {
              //Defines en donde quieres que se vea la opcion
              position: google.maps.ControlPosition.LEFT_TOP
          },
          //activa la pantalla completa
          fullscreenControl: true,

          disableDefaultUI: true,

      });
        // var image = new google.maps.MarkerImage("http://www.md3.mx/clientes/marker2.ico");;
        // var beachMarker = new google.maps.Marker({
        //   position: myLatLng,
        //   map: me.map,
        //   icon: image
        // });
        

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: me.map,
          draggable: true,
          animation: google.maps.Animation.DROP, 
          title: 'Hello World!'
        });
        marker.addListener('click', toggleBounce);

      }

      function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }
       
      function onError(error) {
        alert('code: '    + error.code    + '\n' +
            'message: ' + error.message + '\n');
      }

      //Aqui tu vas a mandar a llamar el mapa(se puede, no se puede)
      navigator.geolocation.getCurrentPosition(onSuccess, onError);
    },

}


</script>
<style scoped>
    #map {
    height:300px;
    width: 100%;
   }
</style>