<template>
  <div id="app">
    <v-app id="inspire">
      <!-- snackbar para el internet -->
      <v-snackbar
        v-model="snackbar"
        color="red"
        dark
        top
        >
        Activa el internet
        <v-btn flat  @click="snackbar = false">Cerrar</v-btn>
      </v-snackbar>
      <!-- dialog -->
      <div class="text-xs-center">
        <v-dialog
          v-model="dialog"
          hide-overlay
          persistent
          width="300"
        >
          <v-card
            color="primary"
            dark
          >
            <v-card-text>
              Espera, estamos actualizando
              <v-progress-linear
                indeterminate
                color="white"
                class="mb-0"
              ></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>
      </div>


      <v-navigation-drawer
        v-if="logeado == true"
        fixed
        v-model="drawer"
        app
        >
        <v-list dense>
          <v-layout row wrap align-center justify-center>
            <v-flex xs10 class = "ma-3">
              <img src="https://solemex.pro/logo.png" alt="alt" height="100%" width="100%">
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          
          <v-list-tile @click="avisos">
            <v-list-tile-action>
              <v-icon >notifications</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Avisos</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

         <!--  <v-list-tile :to="{name:'subirimagen'}">
            <v-list-tile-action>
              <v-icon >notifications</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Avisos</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider> -->

          <v-list-tile :to="{name: 'prioridad'}">
            <v-list-tile-action>
              <v-icon>star</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Prioridad</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile :to="{name: 'pendientes'}">
            <v-list-tile-action>
              <v-icon>assignment</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Pendientes</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile :to="{name: 'entregar'}">
            <v-list-tile-action>
              <v-icon>local_shipping</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Entregar</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile  :to="{name: 'devolucion'}">
            <v-list-tile-action>
              <v-icon>undo</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Intentos</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
<!-- 
          <v-list-tile @click="miruta">
            <v-list-tile-action>
              <v-icon>place</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Mi Ruta</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider> -->


          <v-list-tile :to="{name: 'localizacion'}">
            <v-list-tile-action>
              <v-icon>room</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>GPS</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <!-- <v-list-tile @click="indexdb">
            <v-list-tile-action>
              <v-icon>local_shipping</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>IndexDB</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile @click="camara">
            <v-list-tile-action>
              <v-icon>camera_alt</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Camara</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider> -->

        <!--   <v-list-tile @click="prueba">
            <v-list-tile-action>
              <v-icon>sms</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Prueba</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider> -->

          <v-list-tile @click="actualizar">
            <v-list-tile-action>
              <v-icon>update</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Actualizar</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <!-- <v-list-tile @click="pruebaCorreos">
            <v-list-tile-action>
              <v-icon>email</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Prueba de correos</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider> -->
          <v-list-tile :to="{name: 'informacion'}">
            <v-list-tile-action>
              <v-icon>info</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Información</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>

          <v-list-tile @click="salir">
            <v-list-tile-action>
              <v-icon>exit_to_app</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Salir</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
        </v-list>

      </v-navigation-drawer>
      <v-toolbar v-if="logeado == true" color="primary" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Solemex</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon dark :to="{name: 'menu'}"><v-icon>home</v-icon></v-btn>
      </v-toolbar>
      <v-content>
        <v-container fluid fill-height>
          <v-slide-y-transition mode="out-in">
            <router-view v-if="logeado===true"/>
              <v-layout v-else justify-center align-center row wrap>            
              <v-flex xs12>
                <v-card class="my-5">
                  <v-layout row wrap> 
                  <v-flex xs12 class="ma-5 mt-5">
                    <img src="https://solemex.pro/logo.png" align="center" alt="alt" height="95%" width="95%">
                  </v-flex>
                    <v-flex xs12 class="mx-4 mt-5">
                      <v-text-field
                        label="Nombre de usuario"
                        v-model="nomuser"
                        append-icon="person"
                        color="primary"
                        outline
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 class=" mx-4">
                      <v-text-field
                        :append-icon="show2 ? 'visibility' : 'visibility_off'"
                        :type="show2 ? 'text' : 'password'"
                        name="input-10-2"
                        label="Contraseña"
                        v-model="password"
                        @click:append="show2 = !show2"
                        outline
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 class="">
                      <v-snackbar
                        v-model="snackbar"
                        color="primary" dark
                        top
                        :multi-line="mode === 'multi-line'"
                        :timeout="3000"
                        :vertical="mode === 'vertical'"
                      >
                        Datos no encontrados
                        <v-btn
                          dark
                          flat
                          @click="snackbar = false"
                        >
                          CLOSE
                        </v-btn>
                     </v-snackbar>
                    </v-flex>
                    <v-card-actions class="mt-3" align="right">
                      <!-- <v-btn round color="primary" dark  class="mx-5" @click="validar()">Ingresar</v-btn> -->
                      <v-btn round color="primary" dark @click="validar()">Ingresar</v-btn>
                      <!-- <v-btn round color="#E0E0E0" class="" @click="registrarse">Registro</v-btn> -->
                      <!-- <v-btn round color="#E0E0E0" class="" @click="conexion">Conexión</v-btn> -->
                    </v-card-actions>
                  </v-layout>
                </v-card>
              </v-flex>
            </v-layout>
          </v-slide-y-transition>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>
import {mapActions , mapGetters} from 'vuex'

export default {
  name: 'App',
  components: {
  },
  data () {
    return {
      snackbar: false,
      dialog: false,
      timeout:'',
      mode:'',
      loading: false,
      drawer: false,
      snackbar: false,
      show2:false,
      nomuser: '',
      password:'',
      text: '',
      logeado: false,
      drawer: null
    }
  },
  watch: {
    dialog (val) {
      if (!val) return

      setTimeout(() => (this.dialog = false), 4000)
    }
  },

  computed:{
    ...mapGetters('login',['getdatosUsuario']),
    ...mapGetters('pendientes',['getPendientes']),
  },

  methods:{
    conexion(){
      this.$http.get('api/v1/clientes').then(function(response){
        if (response.status === 200) {
          console.log('Con internet')
        }
      }).catch(function(error){
          if (error.status === 0) {
          console.log('Sin internet')
        }
     })
    },
    ...mapActions('login'       ,['validarUser','salirUser']),
    ...mapActions('prioridades' ,['traerPrioridades','traerPrioridadesidb']),
    ...mapActions('pendientes'  ,['traerPendientes','traerPendientesIdb']),
    ...mapActions('avisos'      ,['traerAvisos']),
    ...mapActions('avisosidb'   ,['traerAvisos','traerAvisosIdb']),
    ...mapActions('actualizar'  ,['actualizaridb','createIDB','guardarIntentos','guardarImagenes','guardarEntregas','deleteIDB','guardarCorreos','abrir','limpiarPendientes']),
    ...mapActions('entregar'    ,['addEntrega_idb','addEntrega_internet','saveDatos','saveFirma']),
    ...mapActions('internet'    ,['internet']),



    validar(){
      // this.deleteIDB()
      // var md5 = require('md5');
      //Codgio que ya funciona para ingresar
      var usuario = {nomuser: this.nomuser, password: this.password}
      //se le manda el usuario a la accion y se espera una respuesta
      this.validarUser(usuario).then(response => {
      //comparo la respuesta, si es no encontrado
        if(response === null){
          //activo el snackbar
          this.snackbar = true
        }else{

          //Creo la base de datos
          this.createIDB().then(response =>{
            console.log('response')
            //Verificar que se haya creado la BD SolemexV1
            if(response === true){
              //Carga los avisos con internet, y los agrega al indexdb
              this.traerAvisos(this.getdatosUsuario.ID)
              //Carga los pendientes con internet, y los agrega al indexdb
              this.traerPendientes(this.getdatosUsuario.ID)
              //Carga las prioridades con internet, y los agrega al indexdb
              // this.traerPrioridades()
              // this.idbtraerAvisos()
              this.traerPrioridades(this.getdatosUsuario.ID)
              this.logeado = true
              this.menu = true
              this.getLogeado = true
              console.log('router')
              this.$router.push({name: 'menu'})
            }
          })
        }
      }, (error) => {
        //por cualquier cosa que pueda pasar imprimo el error
        console.log(error)
      })
    },

    avisos(){
      this.traerAvisosIdb().then(response =>{
        if(response == true){
          this.$router.push({name: 'avisos'})
        }else{
          console.log('Error al cargar los datos')
        }
      })
    },

    actualizar(){
      this.internet().then(response =>{
        if(response == true){
          this.logeado = false
          this.dialog = true

          this.traerAvisos()


          this.guardarEntregas().then(response =>{
            for (var i = response.length - 1; i >= 0; i--) {
              this.addEntrega_internet(response[i])
            }
          })

          this.guardarImagenes().then(response =>{
            for (var i = response.length - 1; i >= 0; i--) {
              let formDataDomicilio = new FormData();
              //se crea el objeto y se le agrega como un apendice el archivo 
              formDataDomicilio.append('file',response[i].domicilio);

              let formDataAcuses = new FormData();
              //se crea el objeto y se le agrega como un apendice el archivo 
              formDataAcuses.append('file',response[i].acuse);

              let formDataFirma = new FormData();
              //se crea el objeto y se le agrega como un apendice el archivo 
              formDataFirma.append('file',response[i].firma);

              //Guardo las imagenes en sus respectivas rutas
              //rutas para  domicilios
              this.$http.post('api/v1/imagen/domicilios',formDataDomicilio,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
                console.log(response)
              })
              //rutas para  acuses
              this.$http.post('api/v1/imagen/acuses',formDataAcuses,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
                console.log(response)
              })
              //rutas para  acuses
              //this.getFirma es el formadata anteriormente ya creado desde las vista de firmas  
              this.$http.post('api/v1/imagen/firmas',formDataFirma,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
                console.log(response)
              })
             
            }
            console.log('imagenes',response)

          })

          this.guardarCorreos().then(response =>{
            for (var i = response.length - 1; i >= 0; i--) {
              // 1 = entregada en domicilio
              if(response[i].tipo_entrega === 1){
                //Se manda el data a la api de enviar el correo
                this.$http.post('api/v1/sendentrega',response[i]).then(response =>{
                  console.log(response.status)
                })
              }else{
                //Se manda el data a la api de enviar el correo
                this.$http.post('api/v1/sendentregasuc',response[i]).then(response =>{
                  console.log(response.status)
                })
              }
            }
          })

          var me = this
          setTimeout(function(){
            console.log('dentro del setTimeout') 
            me.deleteIDB()
          },3000)
        }else{
          this.snackbar = true
        }
      })
    },
    
    salir(){
      this.drawer = false
      this.logeado = false
    },

  }
}
</script>
