<template>
  <v-layout row wrap>
  	<v-snackbar
      v-model="snackbar"
      color="#0F384F"
      dark
      top
      :timeout="3000"
    >
      {{ msg }}
      <v-btn
        dark
        flat
        @click="snackbar = false"
      >
        Cerrar
      </v-btn>
   </v-snackbar>
    <v-flex xs12>
    	<v-card>
    	  <v-card-title primary-title>
	        <h2>Devolución de Guía</h2>
	        <v-spacer></v-spacer>
	        <v-btn color="info" @click="openScanner">Scan</v-btn>
	        <v-btn color="info" @click="internet_2" v-if="loading == true" icon><v-icon>autorenew</v-icon></v-btn>
    	  </v-card-title>
    	  <v-divider></v-divider>
    	  <v-card-text  v-if="loading == false">
		      <v-text-field
		        name="name"
		        label="Número"
		        id="id"
		        v-model="numguia"
		      ></v-text-field>
		      <div class="text-xs-left" v-if="scaner == true">
	          <v-chip>{{ nomcli }}</v-chip>
	        </div>
    	  </v-card-text>
    	</v-card>
    	<v-card>
    	  <v-layout row wrap>
    	    <v-flex xs12 class="text-xs-center ma-2" v-if="loading == true">
    	      <v-progress-circular
				      :size="70"
				      :width="7"
				      color="purple"
				      indeterminate
				    ></v-progress-circular>
    	    </v-flex>
    	  </v-layout>
    	</v-card>		
    	<v-card v-if="scaner == true && loading == false">
    	  <v-card-text>
					<v-select
					  v-model="motivo"
	          :items="items"
	          label="Motivo"
	        ></v-select>
	        <v-textarea
	          solo
	          name="input-7-4"
	          label="Comentarios"
	          v-model="comentario"
	        ></v-textarea>
    	  </v-card-text>
    	  <v-card-actions>
			    <v-btn color="info" @click="validaInfo">Enviar intento</v-btn>
    	  </v-card-actions>
    	</v-card>

    </v-flex>
  </v-layout>
</template>
<script>
	import {mapGetters, mapActions} from 'vuex'
	document.addEventListener("deviceready", onDeviceReady, false);
	function onDeviceReady() {
	    console.log(navigator.camera);
	}
	export default{
		data(){
			return{
				remesa:'',
				loading: false,
				msg:'',
				nomcli:'',
				snackbar: false,
				motivo:'',
				comentario:'',
        fecha: new Date().toISOString().substr(0, 10),
        // hora: new Date().toISOString().substr(11, 8),
        latitude: '',
        longitude:'',
				scaner: false,
				items: [
					'Destinatario Ausente 1a Visita', 
					'Destinatario Ausente 2a Visita', 
					'Datos incompletos', 
					'Cambio de domicilio',
					'Cliente rechazó'
				],
				numguia: '',
				to:'',
				id:'',
				num_intentos:'',
				direccion: '',
				tipoent:'',
				idremesa:'',
			}
		},

		computed:{
			...mapGetters('pendientes',['getPendientes']),
			...mapGetters('login',['getLogeado','getdatosUsuario']),

		},

		watch:{
			//Cuando se haga un cambio en el numguia verificamos que se encuentre en sus pendientes
      numguia: function() {
        for (var i = this.getPendientes.length - 1; i >= 0; i--) {
        	//Si se encuentra...
        	if(this.getPendientes[i].Numguia == this.numguia){
        		//Guardamos los datos por separado en variables que se ocuparan al guardar el intento
        		this.nomcli = this.getPendientes[i].nomcli
        		this.id = this.getPendientes[i].Id
        		this.to = this.getPendientes[i].email
        		this.direccion = this.getPendientes[i].direccion + ', ' + this.getPendientes[i].colonia + ', '+ this.getPendientes[i].ciudad + ', ' + this.getPendientes[i].estado
        		this.num_intentos = this.getPendientes[i].num_intentos
        		//Habilitamos los campos de motivo y de descr
        		this.scaner = true
        		this.tipoent = this.getPendientes[i].tipoent
        		this.idremesa = this.getPendientes[i].idremesa
        		this.remesa = this.getPendientes[i].Numrem
        		console.log(this.getPendientes[i])
          }
        }
      },
    },

    created(){
    	//Al momento de cargar la vista de ejecuta la opción de internet para verficiar que haya
    	this.internet().then(response =>{
    		//Si no hay...
    		if(response === false){
    			//Activamos las alertasss
    			this.msg = 'Activa el internet'
					this.snackbar = true 
					this.loading = true
    		}
    	})
    },

		methods:{
			...mapActions('intentos',['addIntentoidb','addIntento','actualizaTarjeta']),
			...mapActions('internet',['internet']),

			//boton de actualizar el internet, este es de forma manual, y es para verificar que ahora si haya internet
			internet_2(){
				//Se verifica el internet
				this.internet().then(response =>{
					//Si no hay se avisa que no hay internet
	    		if(response === false){
	    			this.msg = 'Activa el internet'
						this.snackbar = true 
						this.loading = true
	    		}else{
	    			//Si hay, quitamos el progress bar
						this.loading = false
	    		}
	    	})
			},

			//Función para obtener la hora
			hora(){
				//Creamos una variable de tipo fecha la cual trae fecha y hora
        var f =new Date();
        //Sacamos la hora, minuto sy segundos y las guaardamos en variables
      	var hora = f.getHours()
      	var minuto = f.getMinutes()
      	var segundo = f.getSeconds()   
      	//Verificamos que si es menor a 10 le agregamos un 0 al principio
      	//Formato original 4:6:2, formato final 04:06:02
        if(hora < 10){
          hora = "0" + f.getHours()
        }
       
        if(minuto < 10){
          minuto = "0" + f.getMinutes() 
        }

        if(segundo < 10){
          segundo = "0" + f.getSeconds()
        }
        //Se retorna un objeto ya contruido
        return hora + ":" + minuto + ":" + segundo
			},

			//Validamos la información de que los campos no vayan vacios
			validaInfo(){
				if(this.numguia == '' || this.motivo == ''){
					//Si van vacios, activamos el snackbar y se carga el aviso
					this.msg = 'Neceesitas llenar los datos'
					this.snackbar = true
				}else{
					//Ya que los campos estan llenos, verifiamos de nuevo que haya internet
					this.internet().then(response =>{
						//Vrificamos la respuesta
						if(response === true){
							//Si hay, continuamos con el agregarIntento
							this.agregarIntento()
						}else{
							//Si no hay volvemos a pedir que active el internet
							this.msg = 'Activa el internet'
							this.snackbar = true
						  this.loading = true
						}
					})
				}
			},

			//Función para abrir el scaner
			openScanner(){
				var me = this
				//Abrirmos la camara en forma de scanner
				cordova.plugins.barcodeScanner.scan(
		      function (result) {
		      	//El resultado lo cargamos como el numero de guia
		      	me.numguia = result.text
		      	me.scaner = true
		      	//Buscamos el numero de guia y cargamos los datos de manera individual para ocuparlos en agregar el intento
		      	for (var i = me.getPendientes.length - 1; i >= 0; i--) {
		        	if(me.getPendientes[i].Numguia == me.numguia){
		        		me.nomcli = me.getPendientes[i].nomcli
		        		me.id = me.getPendientes[i].Id
		        		me.to = me.getPendientes[i].email
		        		me.direccion = me.getPendientes[i].direccion + ', ' + me.getPendientes[i].colonia + ', ' + me.getPendientes[i].estado + ', ' + me.getPendientes[i].ciudad
		        		me.scaner = true

		          }
			      }
			    },
		      function (error) {
		          alert("Scanning failed: " + error);
		      })
				  cordova.plugins.barcodeScanner.encode(BarcodeScanner.Encode.TEXT_TYPE, "http://www.nytimes.com", function(success) {
            alert("encode success: " + success);
          }, function(fail) {
            alert("encoding failed: " + fail);
          })
		  },

			//Agregar el intento
		  agregarIntento(){
		  	this.num_intentos = parseInt(this.num_intentos) + 1
		  	console.log(this.num_intentos)
		  	if(this.num_intentos == 3 || this.motivo == 'Datos incompletos' || this.motivo == 'Cambio de domicilio'  || this.motivo == 'Cliente rechazó' ){
		  		var DatosAviso = {
						Numguia 		: this.numguia,
						Aviso   		: 'Entregar en sucursal... ' + this.direccion,
						Idmensajero : this.getdatosUsuario.ID,
						Fecha   		: this.fecha,
						Hora    		: this.hora(),
						Idusuario 	: 34
					}
			    	console.log(DatosAviso)
			    	// INSRTAR AVISO
		   		 	this.$http.post('api/v1/avisos', DatosAviso  ).then(function(response){
				 			console.log (response.body)
				 			this.snackbar = true ; 
				 			this.msg = "Entregar la tarjeta en sucursal"

						}).catch(function(error){
							console.log(error)
						})

						this.tipoent = 'S'
						// // Actualizar tipo de entrega
		   	// 	 	this.$http.put('api/v1/actuazlizatarjeta',{
						// 	'estatus':     4,
						// 	'nomestatus':  'Devuelta',
						// 	'numguia':     this.numguia,
						// 	'tipoent':     'D'
						// })
						// .then(respuesta=>{
						// 	console.log(respuesta)
		    //     })


		  	}
		  	var me = this
		  	//Si se cargo la ubicación....
        var onSuccess = function(position) {
        	//La guardamos en variables
        	me.latitude = position.coords.latitude 
        	me.longitude = position.coords.longitude 
        	//formdata para intentos
        	var data
        	data = {
        		numguia:      me.numguia,
		      	fecha:        me.fecha,
		      	hora:         me.hora(),
		      	longitude:    me.longitude.toString(),
		      	latitude:     me.latitude.toString(),
		      	motivo:       me.motivo,
		      	comentarios:  me.comentario,
		      	mensajero:    me.getdatosUsuario.ID,
		      	num_intentos: me.num_intentos,
		      	estatus:      4,
		      	nomestatus:   'Devuelta',
		      	tipoent:      me.tipoent,
		      	idrem:        me.idremesa,
		      	remesa:       me.remesa
		      }
		      console.log('datos del intento', data)

		      //formdata para correo
          var correo = {
          	motivo:       me.motivo,
          	fecha:        me.fecha,
          	email:        me.to,
          	hora:         me.hora(),
		      	longitude:    me.longitude.toString(),
		      	latitude:     me.latitude.toString(),
          	subject:      'Intento de entrega',
          	numguia:      me.numguia,
          	num_intentos: me.num_intentos
          }
		      //Verificar que haya internet
	        me.internet().then(response =>{
	          //condicion para internet
	          if(response === true){
	          	me.addIntento(data)
	          	me.actualizaTarjeta(data)
	          	//Enviar el correo
	            me.$http.post('api/v1/sendintento',correo).then(function(response){
	            	//si e estus es 200 se muestra el snackbar de que todo esta correcto
			          if(response.status == 200){
			          	me.snackbar = true
			          	me.msg = 'Datos grabados y correo enviado'
			          }else{ //si no responde un estatus de 200 se muestra el error
			          	me.snackbar = true
			          	me.msg = 'Falla al enviar el correo'
			          }
			        })
            	me.msg = 'Datos grabados exitosamente'
            	me.snackbar = true
            	setTimeout(function(){me.$router.push({name: 'menu'})  }, 1500);
	          }else{
				      // console.log(data)
				      me.addIntentoidb(data)
	          }

	        })
        }
        //Fución de error es por si la ubicación por cualquier motivo no cargo la ubicación
	      function onError(error) {
	        alert('code: '    + error.code    + '\n' +
	            'message: ' + error.message + '\n');
	      }
	      //Función para cargar la geolocaclización y activarla
	      navigator.geolocation.getCurrentPosition(onSuccess, onError);
		  }
		}
	}
</script>

